@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Fonts
$Poppins: 'Poppins', sans-serif;

$white: #fff;
$black: #000;

$dashboard-blue: #1a83ff;
$dashboard-royal-blue: #060b26;
$yellow: #ffc107;
